{% extends 'base.html' %}
{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-9 text-center">
      <h2 class="join-message">Log a Dive!</h2>
      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group row">
          <label for="{{ field.id }}" class="col-md-5 col-form-label">{{ field.label.text }}</label>
          <div class="col-md-7">
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(class="form-control", id=field.id) }}
          </div>
        </div>
      {% endfor %}
      <p><a href="/search?category=users">Add a buddy</a></p>
        <button class="btn btn-outline-success btn-block">Add Dive</button>
      </form>
    </div>
  </div>

{% endblock %}